
 body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
}




    header h1 {
      margin: 0;
      font-size: 1.5rem;
    }



form{
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 100%;
    max-width: 600px;
    margin: 2rem auto;
  
    box-sizing: border-box;

}
form p{
    font-size: 0.8rem;
    text-align: center;
    
}
form p a{
    text-decoration: none;
}
h1{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: rgb(250, 144, 6);
    letter-spacing: 1px;
    

}
p{
  color: rgb(232, 135, 7);
}
label{
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #978f8f;
}
input[type="text"],
input[type="password"],
input[type="email"]{
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 5px;

}
input:focus{
    border: 1px solid #5aa3f2;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123,255,0.5);
}
button{
    /* width: 100%; */
    padding: 0.7rem;
    background-color: #4fa447;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    color: white;

}
button:hover{
    background-color: #9ae653;
}


#cancel{
background-color: rgb(35, 120, 239);
margin: 15px;
}
#cancel:hover{
background-color: red;
}

 button a{
    text-decoration: none;
    color: #fbfafa;
    font-size: 18px;
    font-weight: 400;
    
 } 
button a li{
  list-style: none;
  margin-left: 10px;
}


#toast{
  position: fixed;
  /* bottom: 30px; */
  left: 50%;
  transform: translateX(-50%);
  background-color: #24ad05;
  color: #fff;
  padding: 15px 25px;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 1000;
}




.fas.fa-user {
  width: 30px;
  height: 30px;
  border: 2px solid gray;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: gray;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 0.7rem 1.2rem;
  background-color: #4fa447;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #9ae653;
}



@keyframes scroll-text {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
 @media (max-width: 600px) {
  .header {
    width: 90%;
    padding: 20px;
  }

  .header h1 {
    font-size: 1.5rem;
  }

  .header h2 {
    font-size: 1rem;
  }

  .header p {
    font-size: 0.9rem;
  }
}



